
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #7973f0;">
  <a class="navbar-brand" href="#">MEAN_APPLICATION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contacts">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">_____</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">_____</a>
      </li>

    </ul>
  </div>
</nav>

<br>
<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h2><font color="blue">Liste des Contacts</font></h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let contact of cont">
          <div class="card mb-3">
            <img class="card-img-top" src="assets/img/image1.jpg" alt="Card image cap">
            <div class="card-body ">
              <h5 class="card-title" class=" text-center">{{contact.name}}</h5>
              <p class="card-text"><b>Email :</b> {{contact.email}}</p>
              <p class="card-text"><b>Age :</b> {{contact.age}}</p>
              <div class=" text-center">
                <a class="material-icons" [routerLink]="['/modif_contact', contact._id]">
                  <button type="button" class="btn btn-outline-light">
                    <font color="blue">edit</font>
                  </button>
                </a>
                <a class='material-icons' (click)="supprimContact(contact)">
                  <button type="button" class="btn btn-outline-light">
                    <font color="red">delete</font>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <h6><a href="/ajout_contact">Ajouter un Nouveau Contact</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>

